<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>598522706420-l75jhpojfnn5ur2j87uekmm89ei12qqn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.598522706420-l75jhpojfnn5ur2j87uekmm89ei12qqn</string>
	<key>API_KEY</key>
	<string>AIzaSyA3I3E-LduqFJuHfhEJavpJbGOTpOJP_wc</string>
	<key>GCM_SENDER_ID</key>
	<string>598522706420</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.swiftfeed.swiftfeed.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>swift-feed</string>
	<key>STORAGE_BUCKET</key>
	<string>swift-feed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:598522706420:ios:d54c778df1e8a511ee21a1</string>
</dict>
</plist>